/* body {
  min-height: 100vh;
  background: url(./images/background.jpg) center center no-repeat fixed;
  background-size: cover;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


#root {
  z-index: 1;
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.btn-custom {
  background-color: #5A8969 !important;
  color: white !important;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
} */

body {
  min-height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white; 
}

#root {
  width: 100%;
  min-height: 100vh; 
  padding: 20px;
  box-sizing: border-box;
}


